/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
  
/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header */
header {
    background-color: #0490e0;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_link {
    text-decoration: none;
    color: white;
}

#logo_link:hover {
    text-decoration: underline;
}

/* Style the navigation links */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.title-aboutus{
    background-color: rgb(18, 103, 201);
    text-shadow: 3px 2px 3px white;
}

/* Style the main content container */
#content {
    background-color: #f4f803;
    margin: 20px;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
}

/* Style the FAQ sections */
.question {
    margin-bottom: 20px;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}
/*style the emoji*/
.emoji{
    width: 50%;
    border-radius: 5%;
}

.rafters{
    border-radius: 5%;
}

.rafters:hover{
    transform: scale(0.9,0.9);
}

/* Style the footer */
footer {
    background-color: #0490e0;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Style the social icons */
.social a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.social a:hover {
    text-decoration: underline;
}
.social img {
    border-radius: 50%;
}
.social img:hover{
    transform: scale(0.9,0.9);
}
