#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #660000;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #f0c808;
}
header{
    background-color: #f0c808;
}
nav a:hover{
    background-color: black;
    color: #07a0c3;
}
.book, .join{
    background-color: #07a0c3;
    color: #660000;
    text-decoration: none;
}
.book, .join:hover{
    background-color: #f0c808;
    color: #07a0c3;
}

#background{
    background-color: #199b19;
}
.msg{
    background-color: #199b19;;
}
footer{
    background-color:  #fc7a57;
    color: #660000;  
}
footer a{
    color: black;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    

footer a:hover{
    color: #07a0c3;
}

h4{
    color: #f0c808;
}
.home-title{
    color: #f0c808;
}
.msg h2{
    color: #199b19;
}
.msg p{
    color: #07a0c3;
}
.msgh2{
    color: black;
}
.msg p{
    color: black;
}
.logo {
    width: 80px;
}
#hero-img{
    width: 100px;
}