#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #0805ac;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
}
body{
    background-color: #f0c808;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #f0c808;
}
nav a:hover{
    background-color: #199b19;
    color: #07a0c3;
}
.book, .join{
    background-color: #f0c808;
    color: #0805ac;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book, .join:hover{
    background-color: #0805ac;
    color: #f0c808;
}

#background{
    background-color: #199b19;
}
.msg{
    background-color: #199b19;
    line-height: 1.5em;
    padding-bottom: 35px;
}
footer{
    background-color:  #0805ac;
    color: #f0c808;  
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: #f0c808;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    

footer a:hover{
    color: #07a0c3;
}
footer .social img{
    padding-top: 15px;
}

h4{
    color: #0805ac;
}
.home-title{
    color: #0805ac;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2{
    color: #000000;
    font-family: 'Courier New', Courier, monospace; 
}

.msgh2{
    color: #0805ac;
}
.msg p{
    color: #000000;
    font-size: 0.8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}

#logo_link{
    padding-top: 5px;
}

#hero-img{
    width: 100%;
}

h2{
    margin: 0;
}
.icon{
    padding-top: 10px;
    width: 80px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px;
}

.card-img{
    border: 10px solid #0805ac;
}
main section img{
    box-sizing: border-box;
}