nav {
  background-color: #ffea00;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.yellow-flower-img {
  float: left;
  margin-right: 10px;
  width: 200px;
  padding: 20px;
}
.text {
  text-align: center;
  padding: 20px;
}
.mountain {
  float: right;
  margin-left: 10px;
  width: 200px;
  height: 200px;
}
section {
  margin: 0 auto;
  text-align: center;
  color: #000;
  background-color: #f82e2e;
  width: 50%;
  border-radius: 10px;
}

.menu {
  background-color: cyan;
}

body {
  background-color: coral;
}
nav a {
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 35px;
}
nav a:hover {
  background-color: red;
  color: aliceblue;
}
footer {
  background-color: #ffea00;
  color: black;
  padding: 25px 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
