
.logo{
    display: flex;
    border-radius: 50%;
    border: 25px solid rgb(137,137,137);
    width: 200px;
}
.man{
    display: flex;
    
    border-radius: 50%;
    border: 25px solid rgb(137,137,137);
    width: 200px;
    margin-right: 200px;
}
.coffee{
    border-radius: 50%;
    border: 25px solid rgb(137,137,137);
    width: 200px;
    margin-left: 200px;
    display: flex;
}
.front{
    margin: 0 auto;
}
.box{
    margin: 0 auto;
    background-color: rgb(137, 137, 137);
    position: fixed;
    display: flex;
}