.content{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #0052cc;
    background-color: #a0a0a0;
    text-decoration: none;
    padding: 35px;
}

body{
    background-color: #10c216;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin: 0;
    padding: 0;
}



.text-0{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: #f82e2e;
    width: 50%;
    border-radius: 30px;

}

.text-1{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: #f82e2e;
    width: 50%;
    border-radius: 30px;
}
.text-2,.text-3,.text-4{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: #f82e2e;
    width: 50%;
    border-radius: 30px;
}

.text-5,.text-6,.text-7,.text-8,.text-9,.text-10{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background-color: #f82e2e;
    width: 50%;
    border-radius: 30px;
}

  
.button-project{
    font-size: medium;
    background-color: #f82e2e;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

.button-contact{
    font-size: medium;
    background-color: #f82e2e;
    color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.button-project:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

.button-contact:hover{
    opacity: 0.6;
    transform: scale(1.1);
}


.button{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.faqs{
    margin: 0 auto;
    text-align: center;
}
  
  

header{
    background-color: #a0a0a0;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color: #f82e2e;
    color: #fff
}
footer{
    background-color:  #a0a0a0;
    color: #0052cc;  
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #0052cc;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    

footer a:hover{
    color: #f82e2e;
}

.logo {
    width: 110px;
    border-radius: 10px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.img-logo{
    border-radius: 50%;
    padding: 10px;
}

.img-logo:hover{
    transform: rotate(20deg);
}

.banner{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.certificates{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    
}


p{
    padding: 50px;
}

h3{
    padding: 20px;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}





